body{
    font-family: sans-serif;
    margin: 0;
}

a{
    color:white ;
    text-decoration: none;
}
header{
    background-color: #14161a;
    display: flex;
    min-width: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a{
   font-weight: 600;
   padding: 10px;
}
nav a:hover{
    color: black;
    background-color: white;
}
@media (max-width:680px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
